.btn {
    display: block;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 40px;
    background: #fff;
    min-width: 200px;
    margin: 30px auto;
    outline: unset;
    cursor: pointer;
    transition: .25s box-shadow ease;
    color: #774e4e;
    font-weight: 700;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
    border: none;
}

@media screen and (min-width: 768px) {
    .btn:hover {
        box-shadow: 2px 2px 15px rgba(0,0,0,.4);
    }
}

@media screen and (max-width: 767px) {
    .btn {
        width: 90%;
        position: fixed;
        bottom: 0;
        left: 5%;
    }
}